<!DOCTYPE html>
<html>
  <head>
    <title>Spam Detector</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Simple Spam Detector using Machine Learning</h1>
      <img class="img-fluid" id="banner" src="static/image/sms.png" />
      <h2 class="text-center">Spam Detector For SMS Messages</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in
        mi augue. Aliquam commodo nec dui sit amet gravida. Integer fringilla
        lacinia sapien, non tincidunt magna sagittis vel. Aenean ac arcu velit.
        Sed quis ligula id dolor ultrices blandit bibendum at ante. Nunc tortor
        lectus, tempus posuere orci sed, dapibus lobortis risus. Duis maximus,
        metus sit amet interdum varius, ipsum mauris tincidunt risus, sit amet
        iaculis nisl sapien eu dui. Nam et ipsum mattis, euismod velit sed,
        fringilla nisi. Etiam in arcu nulla. Maecenas vitae pulvinar mauris.
        Etiam lorem nulla, suscipit eget tortor eu, suscipit sodales arcu.
        Suspendisse enim dolor, ornare at odio vel, dapibus lobortis mauris.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer a
        ligula leo. Integer imperdiet gravida vehicula. Fusce consequat dictum
        erat ac cursus. Maecenas ac magna ornare, venenatis nibh eget, luctus
        ipsum. Donec accumsan, velit ac feugiat bibendum, diam sem lobortis
        sapien, vitae consectetur nunc lorem vel ante. Sed convallis egestas
        pellentesque. Mauris eget nisi non erat efficitur tristique in at elit.
        Pellentesque fermentum imperdiet felis, eu ullamcorper velit. Proin
        ultricies feugiat tortor congue aliquet. Ut cursus diam ex, ut dignissim
        turpis sodales eu. Etiam pellentesque erat eu lobortis commodo. Praesent
        porta odio est, faucibus sollicitudin urna accumsan ac. Pellentesque
        egestas ipsum ut accumsan egestas.
      </p>
    </div>

    <div class="container">
      <form action="{{ url_for('predict')}}" method="POST">
        <p>Enter Your Message Here</p>
        <!-- <input type="text" name="comment"/> -->
        <textarea name="message" rows="4" cols="50"></textarea>
        <br />

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Predict</button>
        </div>
      </form>
    </div>
  </body>
</html>
